<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="CSS/ficha_cliente.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <div class="cont_row">
                <span onclick="window.history.back()" style="cursor: pointer;">
                    <i class="material-icons">
                        chevron_left
                    </i>
                </span>
                <span class="titulo"><h5>Ficha</h5></span>
            </div>
            <div class="separador"></div>
            <span class="nav_menu">
                <div class="nav_item">Materiales</div>
                <div class="nav_item">Visitas</div>
                <div class="nav_item">Galeria</div>
            </span>
        </header>
        <div class="drawer">
            <div class="Foto">
                <div class="info_cli">
                    <i class="material-icons">
                        info
                    </i>
                </div>
            </div>
            <div class="cli_datos">
                <div class="datos_titulo">
                    Datos del Cliente
                </div>
                <div class="datos_contenido">
                    <div class="datos_contenido_key">ID:</div>
                    <div class="datos_contenido_val"><%=cli.cli_id %></div>
                    <div class="datos_contenido_key">Nombre:</div>
                    <div class="datos_contenido_val"><%=cli.nombre %></div>
                    <div class="datos_contenido_key">Ciudad:</div>
                    <div class="datos_contenido_val"><%=cli.ciudad %></div>
                    <div class="datos_contenido_key">Tipo:</div>
                    <div class="datos_contenido_val"><%=cli.tipo %></div>
                    <div class="datos_contenido_key">Direccion:</div>
                    <div class="datos_contenido_val val_direccion"><span style="width: 100%"><%=cli.direccion %></span><span style="cursor: pointer;" onclick="irPGS('<%=cli.GPS[0] %>','<%=cli.GPS[1] %>')"><i class="material-icons">map</i></span></div>
                </div>
                <div class="datos_titulo">
                    Datos de Contacto
                </div>
                <div class="datos_contenido">
                    <div class="datos_contenido_key">Nombre:</div>
                    <div class="datos_contenido_val"><%=cli.contacto[0].C_nombre%></div>
                    <div class="datos_contenido_key">Telefono:</div>
                    <div class="datos_contenido_val"><%=cli.contacto[0].C_dato%></div>
                </div>
            </div>
        </div>
        <main>
            <div class="ventana" id="Materiales">
                <div class="cont_datos_venta">
                    <div class="cont2_dato">
                        <span class="datos_venta_key">Distribuidor:</span><span><%=cli.distribuidor%></span>
                    </div>
                    <div class="cont2_dato">    
                        <span class="datos_venta_key">Vende Energizante:</span><span><%=(cli.distribuye == true)?"Si":"No"%></span>
                    </div>
                    <div class="cont2_dato">
                        <span class="datos_venta_key">Ultima visita:</span><span><%=ultima_visita()%></span>
                    </div>
                </div>
                <div class="cont_tabla">
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Procuto</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">Red Bull</td>
                                <td><%= precioprod(0) %></td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">Rush</td>
                                <td><%= precioprod(1) %></td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">Ciclon</td>
                                <td><%= precioprod(2) %></td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">Black</td>
                                <td><%= precioprod(3) %></td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">Monster</td>
                                <td><%= precioprod(4) %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cont_tabla">
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Cooler</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if(cli.materiales[0].L_material.length <= 0){%>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Notiene ningun cooler</td>
                                </tr>
                            <%}%>
                            <%for(i=0;i<=cli.materiales[0].L_material.length-1;i++){%>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric"><%= cli.materiales[0].L_material[i]%></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="cont_tabla">
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Visibiliti</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if(cli.materiales[1].L_material.length <= 0){%>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Notiene ningun visibility</td>
                                </tr>
                            <%}%>
                            <%for(i=0;i<=cli.materiales[1].L_material.length-1;i++){%>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric"><%= cli.materiales[1].L_material[i]%></td>    
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ventana" id="Visitas">
                <ul class="mdl-list">
                    <% for(i=0;i<=cli.vitacora.length-1;i++){ %>
                        <li class="mdl-list__item <%= estado(i) %>"> <%= visita(i) %> </li>
                    <% } %>
                </ul>
            </div>
            <div class="ventana" id="Galeria">zxc</div>
            <div style="height: 65px;"></div>
        </main>
    </div>
    <div id="add_btn" onclick="nueva_encuesta('<%=cli._id%>')">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--red-800">
            <i class="material-icons">add</i>
        </button>
    </div>
    <script src="JS/ficha_cliente.js"></script>
</body>
</html>
<%
function ultima_visita(){
    var fecha = cli.ultima_visita;
    var dia = fecha.getDate();
    var mes = fecha.getMonth() + 1;
    var year = fecha.getFullYear();
    return dia+"/"+mes+"/"+year;
}
function visita(pos){
    var fecha = cli.vitacora[pos].fecha;
    var dia = fecha.getDate();
    var mes = fecha.getMonth() + 1;
    var year = fecha.getFullYear();
    return dia+"/"+mes+"/"+year;
}
function precioprod(pos){
    if(cli.productos[pos].P_precio>0){
        return cli.productos[pos].P_precio;
    }else{
        return "No vende";
    }
}
function estado(pos){
    if(cli.vitacora[pos].GPS.length > 0){
        var diflat = cli.vitacora[pos].GPS[0] - cli.GPS[0];
        var diflng = cli.vitacora[pos].GPS[1] - cli.GPS[1];

        if( diflat >= -0.008 && diflat <= 0.008 && diflng >= -0.008 && diflng <= 0.008 ){
            return 'correcto';
        }else{
            return 'incorrecto';
        }
        
    }else{
        return ''
    }
}
%>