<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="./CSS/MDL.css">
    <link rel="stylesheet" href="./CSS/registro.css">
    <title>corregir</title>
</head>
<body>
    <header>
        <span style="margin-right: 10px; cursor: pointer;" onclick="window.history.back()">
            <i class="material-icons">
                chevron_left
            </i>
        </span>
        <span>
            <h5 style="margin-top: 15px">Corregir</h5>
        </span>
    </header>
    <main>
        <section>
            <div class="titulo">
                Datos del Cliente
            </div>
            <div class="datos">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="CLI_ID" onkeyup="guardarID(this)" onload="guardarID(this)" value="<%= cli.cli_id %>">
                    <label class="mdl-textfield__label" for="CLI_ID">ID...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="CLI_NOMBRE" onkeyup="guardarNOMBRE(this)" onload="guardarNOMBRE(this)" value="<%= cli.nombre %>">
                    <label class="mdl-textfield__label" for="CLI_NOMBRE">Nombre Cliente...</label>
                </div>
            </div>
        </section>
        <section>
            <div class="titulo">
                Ubicacion
            </div>
            <div class="datos">
                <select name="ciudad" id="ciudad" style="margin-top: 20px; margin-bottom: 20px" onchange="guardarciudad(this)" onload="guardarciudad(this)">
                    <option value="Santa Cruz" <%= cli.ciudad=="Santa Cruz"?"selected":"" %> >Santa Cruz</option>
                    <option value="La Paz" <%= cli.ciudad=="La Paz"?"selected":"" %> >La Paz</option>
                    <option value="Cochabamba">Cochabamba</option>
                    <option value="Beni">Beni</option>
                    <option value="Oruro">Oruro</option>
                    <option value="Chuquisaca">Chuquisaca</option>
                    <option value="Potosi">Potosi</option>
                    <option value="Tarija">Tarija</option>
                    <option value="Pando">Pando</option>
                </select>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="direccion" onkeyup="guardarDIRECCION(this)" onload="guardarDIRECCION(this)" value="<%= cli.direccion %>">
                    <label class="mdl-textfield__label" for="direccion">Direccion...</label>
                </div>
            </div>
        </section>
        <section>
            <div class="titulo">
                Tipo de Cliente
            </div>
            <div class="datos">
                <select name="tipo" id="tipo" onchange="guardartipo(this)" onload="guardartipo(this)">
                    <option value="Licoreria" <%= cli.tipo=="Licoreria"?"selected":"" %> >Licoreria</option>
                    <option value="Micromercado" <%= cli.tipo=="Micromercado"?"selected":"" %> >Micromercado</option>
                    <option value="Tienda de Barrio"<%= cli.tipo=="Tienda de Barrio"?"selected":"" %>>Tienda de Barrio</option>
                    <option value="Kiosko"<%= cli.tipo=="Kiosko"?"selected":"" %>>Kiosko</option>
                    <option value="Famacia"<%= cli.tipo=="Famacia"?"selected":"" %>>Famacia</option>
                    <option value="Otro Impulso"<%= cli.tipo=="Otro Impulso"?"selected":"" %>>Otro Impulso</option>
                    <option value="Mayorista"<%= cli.tipo=="Mayorista"?"selected":"" %>>Mayorista</option>
                    <option value="Minorista"<%= cli.tipo=="Minorista"?"selected":"" %>>Minorista</option>
                </select>
            </div>
        </section>
        <section>
            <div class="titulo">
                Contacto
            </div>
            <div class="datos">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="cont_nombre" onkeyup="guardarCONTACTO(this)" onload="guardarCONTACTO(this)" value="<%= cli.contacto[0].C_nombre %>">
                    <label class="mdl-textfield__label" for="cont_nombre">Nombre...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="datocontacto" onkeyup="guardarNUMERO_CONTACTO(this)" onload="guardarNUMERO_CONTACTO(this)" value="<%= cli.contacto[0].C_dato %>">
                    <label class="mdl-textfield__label" for="datocontacto">Numero contacto...</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                </div>
            </div>
        </section>
        <section class="mensajes" style="display: none">
            <i class="material-icons">info</i>
            <div id="mensaje_estado"></div>
        </section>
        <section class="botonera">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="guardar_servidor()" id="reg_cli">
                Corregir
            </button>
        </section>
    </main>
    <script>
        var ID = "<%= cli._id %>";
        var CLI_ID = "<%= cli.cli_id %>";
        var CLI_nombre = "<%= cli.nombre %>";
        var DIRECCION = "<%= cli.direccion %>";
        var CONTACTO = "<%= cli.contacto[0].C_nombre %>";
        var NUMERO_CONTACTO = "<%= cli.contacto[0].C_dato %>";
        var ciudad = "<%= cli.ciudad %>";
        var tipo = "<%= cli.tipo %>";
    </script>
    <script src="./JS/corregir.js"></script>
</body>
</html>